<!DOCTYPE html>
<html>
<head>
	<title>Dictionary</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Custom CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<!--Bootstrap libraries and dependencies -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	
	<!--Angular framework -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

</head>
<body id="page-top" class="body-custom" ng-app="dictionaryApp" ng-controller="dictionaryController" ng-init="init()">
	<!--A nav bar at the top of the website -->
	<nav class="navbar navbar-default navbar-fixed-top affix-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better visibility on mobile-->
		<div class="navbar-header">
			<a class="navbar-brand page-scroll" href="#page-top"><b>Dictionary</b></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#favwords"><span class="glyphicon glyphicon-education"></span> WordList</a></li>
		</ul>
	</div>	
	</nav>
	<!-- A header for displaying simple content-->
	<header>
		<div class="header-custom">
			<h1>A searchbar for all your 'Word' needs</h1>
			<p class="p-custom">You can enter a word to find it's meaning, synonyms and other related information. It is a single page app that displays all the relevant information regarding a word.</p>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<form class="form-group">
					<input ng-model="search" type="text" ng-change="validateInput()" class="form-control form-group" name="searchbar" placeholder="What do you want to search today?">
					<button ng-disabled="!validFlag" ng-click="searchApi()" class="btn btn-lg btn-success form-group">Search</button>
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
	<div class="container-fluid" ng-repeat="word in wordArray" ng-show="showFlag">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="panel panel-info">
					<div class="panel-body panel-body-custom">
						<label>Word:</label>
						<p>{{word.headword}}</p>

						<label>Meaning:</label>
						<p>{{word.definition}}</p>

						<!--
						<label>Synonym:</label>
						<p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>

						<label>Antonym:</label>
						<p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor</p>
						-->
						<label>Example:</label>
						<p>{{word.example}}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
	<div class="container-fluid" ng-show="wordNotFound">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<p class="p-custom">{{errorMessage}}</p>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</body>
</html>